  .car{
      width: fit-content;
      /* height: 100%; */
      font-size: 1.2rem;
      margin: 2px;
      padding: 3px;
      /* justify-content: center; */
      background-color: white;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    background-color: antiquewhite  ;
  }
  
  body, .quote-input {
    font-family: monospace;
  }
  
  .container {
    border: 2px solid black;
    background-color: white;  
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
  }
  
  .timer {
    /* position: absolute; */
    /* top: 2rem; */
    font-size: 3rem;
    color: #F0DB4F;
    font-weight: bold;
  }
  
  .quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
  }
  
  .quote-input {
    background-color: transparent;
    border: 2px solid #000;
    outline: none;
    width: 100%;
    /* height: 8rem; */
    margin: auto;
    resize: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    color: #333;
  }
  
  .quote-input:focus {
    border-color: black;
  }
  
  span{
    color: #333;
  }
  
  .correct {
    color: lightgreen;
  }
  
  .incorrect {
    background-color: red;
    text-decoration: underline;
  }

  #car-container{
    background-color: #777;
    width: 700px;
    margin: 5px;
  }

  #readyBtn, #raceAgainBtn{
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
  }

  